@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-stretch: 100%;
}

html,
body {
  margin: 0;
  background-color: #f2f2f2;
  height: 100%;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  padding: 0 18px;
  font-weight: normal;
  font-size: 14px;
  color: white;
  white-space: nowrap;
  line-height: 1;
  height: 32px;
  transition: 150ms ease-in-out;
  box-shadow: rgba(9, 30, 66, 0.45) 0px 3px 5px -2px,
    rgba(9, 30, 66, 0.13) 0px 0px 5px 0.5px, #ebebeb inset 0 0.6px 0.5px;
  cursor: pointer;
}

.btn:hover {
  cursor: pointer;
  box-shadow: rgba(9, 30, 66, 0.45) 0px 0.5px 0.5px,
    rgba(9, 30, 66, 0.12) 0px 0px 0px 0.5px, #d2d2d2 inset 0 0.6px 0.5px;
}

.btn-verde {
  background-image: linear-gradient(
    to bottom,
    #22ca51,
    #20c44d,
    #1dbe4a,
    #1bb946,
    #18b343
  );
}

.btn-naranja {
  background-image: linear-gradient(
    to bottom,
    #ff650d,
    #f4620f,
    #e95f10,
    #de5b11,
    #d35812
  );
}

.btn-rojo {
  background-image: linear-gradient(
    to bottom,
    #e51919,
    #dc1616,
    #d21212,
    #c90f0f,
    #c00b0b
  );
}

.btn-azul {
  background-image: linear-gradient(
    to bottom,
    #0164f6,
    #0162f2,
    #0060ed,
    #005fe9,
    #005de5
  );
}

.btn-gris {
  background-image: linear-gradient(
    to bottom,
    #c2c2c2,
    #bbbbbb,
    #b5b5b5,
    #aeaeae,
    #a8a8a8
  );
}

.input {
  width: 100%;
  font-size: 14px;
  border-radius: 6px;
  padding-inline: 10px;
  padding-block: 8px;
  border-inline-width: 0px;
  box-shadow: rgba(164, 172, 185, 0.24) 0px 1px 2px 0px,
    rgba(18, 55, 105, 0.08) 0px 0px 0px 1px;
  border: 0.5px rgb(107, 114, 128);
  margin-block: 0.9rem;
}

.container-error {
  background-color: #ef4444;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 0.6rem;
  width: fit-content;
}
