hr {
  height: 2px;
  margin: 1rem 0;
}

.wrapper {
  display: flex;
  align-items: center;
  padding-inline: 1.6rem;
  margin-block: 1.2rem;
  padding-top: 1.2rem;
  width: 100%;
  background-color: white;
  box-shadow: rgba(164, 172, 185, 0.6) 0px 1px 3px 0px,
    rgba(18, 55, 105, 0.08) 0px 0px 0px 1px;
  border: 0.8px rgb(53, 56, 73);
  border-radius: 22px;
}

.container-form {
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  background-color: white;
  gap: 0;
  margin-top: 2.5rem;
  flex-direction: column;
  margin-inline: 4rem;
  margin-bottom: 2rem;
  box-shadow: rgba(164, 172, 185, 0.6) 0px 1px 3px 0px,
    rgba(18, 55, 105, 0.08) 0px 0px 0px 1px;
  border: 0.8px rgb(53, 56, 73);
  border-radius: 22px;
}

input {
  margin-block: 0;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  width: 100%;
}

.input-group label {
  margin-right: 1rem;
  white-space: nowrap;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.group p {
  color: #ef4444;
  font-size: 14px;
}

.container-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  /* margin-bottom: 0.6rem; */
  align-items: center;
}
